/*************
  Blue Theme
 *************/
/* overall */
@import url(https://fonts.googleapis.com/css?family=Raleway);
.attention{
	background-color: rgba(255,23,23,0.9);
}
.tablesorter-blue {
	width: 100%;
	background-color: #fff;
	margin: 10px 0 15px;
	text-align: left;
	border-spacing: 0;
	border: #ccc 1px solid;
	border-width: 1px 0 0 1px;
}
.tablesorter-blue td {
	border-bottom: #1C89D0 1px solid;
	border-width: 0 1px 1px 0;
}

thead td
{
	border: 0 !important;
}

/* header */
.tablesorter-blue th,
.tablesorter-blue thead td {
	font-family:inherit;
	font-weight: bold;
	line-height: 14px;
	color: rgba(15,15,15,1.00);
	background-color: rgba(87,168,253,1.00);
	border-collapse: collapse;
	padding: 4px;
	text-shadow: 0 1px 0 rgba(204, 204, 204, 0.7);
}
.tablesorter-blue tbody td,
.tablesorter-blue tfoot th,
.tablesorter-blue tfoot td {
	padding: 4px;
	vertical-align: middle;
}
.tablesorter-blue .header,
.tablesorter-blue .tablesorter-header {
	/* black (unsorted) double arrow
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);*/
	/* white (unsorted) double arrow */
	 background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAAP///////yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	/* image */
	/* background-image: url(images/black-unsorted.gif); */
	background-color: #f1b677;
	background-repeat: no-repeat;
	background-position: center right;
	padding: 4px 18px 4px 4px;
	white-space: normal;
	cursor: pointer;
}
.tablesorter-blue .headerSortUp,
.tablesorter-blue .tablesorter-headerSortUp,
.tablesorter-blue .tablesorter-headerAsc {
	background-color: #f1b677;
	/* black asc arrow */
	/*background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);*/
	/* white asc arrow */
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
	/* image */
	/* background-image: url(images/black-asc.gif); */
}
.tablesorter-blue .headerSortDown,
.tablesorter-blue .tablesorter-headerSortDown,
.tablesorter-blue .tablesorter-headerDesc {
	background-color: #3CB0EA;
	/* black desc arrow
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);*/
	/* white desc arrow */
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
	/* image */
	/* background-image: url(images/black-desc.gif); */
}
.tablesorter-blue thead .sorter-false {
	background-image: none;
	cursor: default;
	padding: 4px;
}

/* tfoot */
.tablesorter-blue tfoot .tablesorter-headerSortUp,
.tablesorter-blue tfoot .tablesorter-headerSortDown,
.tablesorter-blue tfoot .tablesorter-headerAsc,
.tablesorter-blue tfoot .tablesorter-headerDesc {
	/* remove sort arrows from footer */
	background-image: none;
	background-color: rgba(87,168,253,1.00);
}

/* tbody */
.tablesorter-blue td {
	font-style: normal;
font-weight: 300;
line-height: normal;
font-size: 16px;
	background-color: #fff;
	padding: 4px;
	vertical-align: middle;
}

/* hovered row colors
 you'll need to add additional lines for
 rows with more than 2 child rows
 */
.tablesorter-blue tbody > tr:not(.selected):hover > td,
.tablesorter-blue tbody > tr:hover + tr.tablesorter-childRow > td,
.tablesorter-blue tbody > tr:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td,
.tablesorter-blue tbody > tr.even:not(.selected):hover > td,
.tablesorter-blue tbody > tr.even:hover + tr.tablesorter-childRow > td,
.tablesorter-blue tbody > tr.even:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td,
/*.tablesorter-blue tbody > tr.warn.hover > td,
.tablesorter-blue tbody > tr.warn:hover > td,*/
.tablesorter-blue tbody > tr.warn.even.hover > td,
.tablesorter-blue tbody > tr.warn.even:hover > td {
	background-color: rgba(28, 137, 208, 0.05) !important;
}
.tablesorter-blue tbody > tr.odd:not(.selected):hover > td,
.tablesorter-blue tbody > tr.odd:hover + tr.tablesorter-childRow > td,
.tablesorter-blue tbody > tr.odd:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td {
	background-color: rgba(28, 137, 208, 0.05) !important;
}


.tablesorter-blue tbody > tr.warn.even.hover > td,
.tablesorter-blue tbody > tr.warn.even:hover > td,
.tablesorter-blue tbody > tr.warn.odd.hover > td,
.tablesorter-blue tbody > tr.warn.odd:hover > td  {
	background-color: rgba(28, 137, 208, 0.05) !important;
}
/* table processing indicator */
.tablesorter-blue .tablesorter-processing {
	background-position: center center !important;
	background-repeat: no-repeat !important;
	/* background-image: url(images/loading.gif) !important; */
	background-image: url('data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=') !important;
}

/* Zebra Widget - row alternating colors */
.tablesorter-blue tbody tr.odd > td {
	background-color: #fff;
}
.tablesorter-blue tbody tr.even > td {
	background-color: #fff;
}

.tablesorter-blue tbody tr.warn > td {
	/*background-color: rgba(255,23,23,0.4);*/
	-webkit-animation-name: warning;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-name: warning;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-moz-animation-name: warning;
	-moz-animation-duration: 4s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
}

.tablesorter-blue tbody tr.warn.odd > td {
	-webkit-animation-name: warning;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: warning;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	animation-name: warning;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.tablesorter-blue tbody tr.warn.even > td {
	-webkit-animation-name: warning2;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: warning2;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	animation-name: warning2;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@-webkit-keyframes warning {
    0% {background-color: #ebf2fa;}
    50% {background-color: rgba(87,168,253,1.00);}
    100% {background-color: #ebf2fa;}
    }
}

@-moz-keyframes warning {
    0% {background-color: #ebf2fa;}
    50% {background-color: rgba(87,168,253,1.00);}
    100% {background-color: #ebf2fa;}
    }
}

@keyframes warning {
    0% {background-color: #ebf2fa;}
    50% {background-color: rgba(87,168,253,1.00);}
    100% {background-color: #ebf2fa;}
}

@-webkit-keyframes warning2 {
    0% {background-color: #fff;}
    50% {background-color: rgba(87,168,253,1.00);}
    100% {background-color: #fff;}
}

@-moz-keyframes warning2 {
    0% {background-color: #fff;}
    50% {background-color: rgba(87,168,253,1.00);}
    100% {background-color: #fff;}
}

@keyframes warning2 {
    0% {background-color: #fff;}
    50% {background-color: rgba(87,168,253,1.00);}
    100% {background-color: #fff;}
}

/* Column Widget - column sort colors */
.tablesorter-blue td.primary,
.tablesorter-blue tr.odd td.primary {
	background-color: #99b3e6;
}
.tablesorter-blue tr.even td.primary {
	background-color: #c2d1f0;
}
.tablesorter-blue td.secondary,
.tablesorter-blue tr.odd td.secondary {
	background-color: #c2d1f0;
}
.tablesorter-blue tr.even td.secondary {
	background-color: #d6e0f5;
}
.tablesorter-blue td.tertiary,
.tablesorter-blue tr.odd td.tertiary {
	background-color: #d6e0f5;
}
.tablesorter-blue tr.even td.tertiary {
	background-color: #ebf0fa;
}

/* caption */
caption {
	background-color: #fff;
}

/* filter widget */
.tablesorter-blue .tablesorter-filter-row {
	background-color: #eee;
}
.tablesorter-blue .tablesorter-filter-row td {
	background-color: #eee;
	line-height: normal;
	text-align: left; /* center the input */
	-webkit-transition: line-height 0.1s ease;
	-moz-transition: line-height 0.1s ease;
	-o-transition: line-height 0.1s ease;
	transition: line-height 0.1s ease;
}
/* optional disabled input styling */
.tablesorter-blue .tablesorter-filter-row .disabled {
	opacity: 0.0;
	filter: alpha(opacity=00);
	cursor: default;
}
/* hidden filter row */
.tablesorter-blue .tablesorter-filter-row.hideme td {
	/*** *********************************************** ***/
	/*** change this padding to modify the thickness     ***/
	/*** of the closed filter row (height = padding x 2) ***/
	padding: 2px;
	/*** *********************************************** ***/
	margin: 0;
	line-height: 0;
	cursor: pointer;
}
.tablesorter-blue .tablesorter-filter-row.hideme * {
	height: 1px;
	min-height: 0;
	border: 0;
	padding: 0;
	margin: 0;
	/* don't use visibility: hidden because it disables tabbing */
	opacity: 0;
	filter: alpha(opacity=0);
}
/* filters */
.tablesorter-blue input.tablesorter-filter,
.tablesorter-blue select.tablesorter-filter {
	width: 98%;
	height: auto;
	font-size: 13px;
	margin: 0;
	padding: 4px;
	background-color: #fff;
	border: 0px solid #ccc;
	color: #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: height 0.1s ease;
	-moz-transition: height 0.1s ease;
	-o-transition: height 0.1s ease;
	transition: height 0.1s ease;
}
/* rows hidden by filtering (needed for child rows) */
.tablesorter .filtered {
	display: none;
}

/* ajax error row */
.tablesorter .tablesorter-errorRow td {
	text-align: center;
	cursor: pointer;
	background-color: #e6bf99;
}
